.sidebar-container{
  position: sticky;
  top: 2px;
  border-radius: 4px;
  background: #4200977e;
  backdrop-filter: blur(1px);
  overflow: hidden;
  max-height: 100vh;
}
.selected-all-cards{
  padding: 0 15px;
  padding-top: 0;
  max-height: 86vh;
  overflow-y: scroll;
}
.selected-all-cards::-webkit-scrollbar{
  width: 5px;
}
.selected-all-cards::-webkit-scrollbar-track{
  background: #410097;
}
.selected-all-cards::-webkit-scrollbar-thumb{
  background: #d6b7ff;
  border-radius: 6px;
}
.card-status{
  background: #000;
  padding: 20px 15px;
  color: #fff;
  height: 14vh;
}
.total-salary{
  margin-top: 15px;
}
